@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "PT Sans", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

button {
  background-color: purple;
  color: white;
  text-transform: uppercase;
  border: 1px purple solid;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 20px 30px;
  margin: 10px 0;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}

button .circle {
  position: absolute;
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.4s ease-out;
}

button:focus {
  outline: 0px;
}

#toasts {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.toast {
  background-color: green;
  color: white;
  padding: 1rem 2rem;
  border-radius: 5px;
  margin: 0.5rem;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
