*{
margin:0;
padding:0;
font-family:sans-serif;
}
body{
	background-color:rgb(0, 62, 111);
	color:white;
}
.tbu{
	float:right;
	margin:-160px 10px 0 0;
	background-color:rgb(0, 204, 201);
	color:white;
}
h1{
	font-size:50px;
	font-weight:30px;
}
.gh{
	margin:180px 0px 0 120px;
}
.hj{
	margin:2px 0 0 120px;
}
img{
	position:relative;
	margin:-85px 0 0 0;
	left:70%;
}
.preclass{
	margin:-210px 0 0 120px;
	color:white;
}
.nm{
	margin-left:120px;
	}
.blbutt{
	background-color:rgb(0, 204, 201);
	color:white;
	}
.about{
	margin-top:80px;
	color:black;
	background-color:white;
	height:350px;
}
.about h2{
	padding:60px 0 0 120px;
}
.about pre{
	padding-left:120px;
}
.about img{
	margin-top:-200px;
	margin-left:5px;
	width:300px;
	
}


