<!Doctype html>
<html>
<head>
<link rel="stylesheet" href="<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="boot.css">
</head>
<body>
<div class="df">
<button class="btn tbu">View Detail</button>
<h1 class="gh">Doing the right thing</h1>
<h1 class="hj">at the right time</h1>
<img class="img-fluid rounded-circle" width="304" height="304" src="https://us.123rf.com/450wm/mathibfa/mathibfa1812/mathibfa181200379/114014585-stock-illustration-beautiful-smiling-business-woman-showing-thumbs-up-sign-gesturing-with-both-hands-like-agree-approve.jpg?ver=6">
<p><pre class="preclass">Motivation is the process that initiates, guides, and maintains goal-oriented behaviors.It 
is what causes you to act, whether it is getting a glass of water to reduce thirst or reading
a book to gain knowledge.Motivation involves the biological, emotional, social, and cognitive
forces that activate behavior.</pre></p>
<button class="btn nm blbutt">Read More</button>
<button class="btn nm btn-outline-light ml-3">Just Click</button>
</div>
<div class="about">
<h2><b>ABOUT<b></h2>
<pre>Motivation is a reason for actions, willingness, and goals. Motivation
is derived from the word motive,or a need that requires satisfaction. These
needs, wants or desires may be acquired through influence of culture,society,
lifestyle, or may be generally innate. An individual's motivation may be inspired
by outside forces extrinsic motivation)[1] or by themselves (intrinsic motivation).
[1] Motivation has been considered one of the most important reasons to move 
forward.[2] Motivation results from the interaction of both conscious and unconscious
factors.Mastering motivation to allow sustained and deliberate practice is central
 to high levels of achievement.
</pre>
<img src="https://image.freepik.com/free-vector/group-office-workers-working-place-communicating-each-other-cartoon-style_152098-377.jpg">
</div>
</body>
</html>