#soundcloud-player .main {
    margin-bottom: 135px;
}

#soundcloud-player .col-left {
	width: 100%;
	height: 100px;
	left: 0;
    top: auto;
    bottom: 0;
    overflow-y: auto;
    overflow-x: auto;
    white-space: nowrap;
}\

#soundcloud-player .col-right {
    padding:0;
}

#soundcloud-player .col-left div {
    display:block;
    margin:0;
    padding: 0;
}

#soundcloud-player .col-left div iframe {
    border-radius: 0;
    margin: 0;
    width: 100%;
    height: 127px;
}


#soundcloud-player .clear-button {
    /* float: left; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("../images/88f7b852fcb183a5ae30cb3569a9edec.svg");
}

#soundcloud-player .clear-button a {
    font-size: 0;
}

::-webkit-scrollbar {
	width: 0;
    height: 0;
}
