.bodyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.formContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  position: absolute;
  top: 5vh;
  width: 100%;
}
.formTitle {
  font-size: 1.2em;
  color: rgb(51, 51, 107);
  font-weight: bolder;
  text-align: center;
  width: 100%;
  margin: 2vh 0;
}
.form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.formBody {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1vw;
  width: calc(100% - 2vw);
  margin: 1vh 0;
  font-size: 0.85em;
}
.formRight {
  display: flex;
  align-items: center;
  width: 15%;
  justify-content: center;
  text-align: center;
}
.formLeft {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: center;
  text-align: center;
}
.formMiddle {
  width: 55%;
}
.formButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.calculate {
  width: 50vw;
  height: 4vh;
  color: white;
  background-color: rgb(50, 50, 92);
  border-radius: 1.1vh;
  font-family: 'Lato' sans-serif;
}
.resultContainer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.resultTitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resultTop {
  position: absolute;
  top: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 15vh;
}
.resultLeft {
  width: 45%;
  background-color: #fff9aa;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.5vh;
}
.resultRight {
  width: 45%;
  background-color: #a3e0d6;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5vh;
  text-align: center;
}
.resultBottom {
  position: absolute;
  top: 18vh;
  border-radius: 0.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 80vw;
  height: 8vh;
  background-color: rgb(180, 180, 190);
  text-align: center;
}
