{% extends "orders/base.html" %}	

{% block title %}
    Cart
{% endblock %}

{% block main %}
<h1>Non-Topping Food</h1>
<table class="table">
	<tbody>
	{% for item in normal %}
	<tr>
		<td>{{ item }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>

<h1>Topping Pizzas</h1>
<table class="table"></table>
	<tbody>
	{% for item in toppings %}
	<tr>
		<p> 
			{% for itemr in item %}
				<td>{{ itemr }}</td>
			{% endfor %}
		<p>
	</tr>
	{% endfor %}
	</tbody>
</table>

<form action="{% url 'cart' %}" method="post">
	  {% csrf_token %}
	<input type="submit" value="Buy"/>
</form>
{% endblock %}