html
  head
    title= title
            
  body
    h1= message
    h2= name 
    p= "My paragraph!!"
    img(id= "image" style='border: 5px solid red; border-radius: 15px;  height: 50vh; margin: auto; width: 550px;object-fit:cover;' src="https://source.unsplash.com/random", alt="")
