<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Portfolio</title>
        style 
            include ../static/style_portfolio.css
    </head>
    <body>
        #{nothing}
        <div class="navi">
            <ul>
                <li><a href="/">page-1</a></li>
                <li><a href="/javascript.html">page-2</a></li>
                <li><a href="/ImageEditor.html">page-3</a></li>
                <li><a href="/Portfolio.html">page-4</a></li>
            </ul>
        </div>
        <h2 id="heading">Welcome to my Portfolio !!!</h2>
        <header>
            <nav class="navbar">
                <ul>
                    <li><a href="" >Me</a></li>
                    <li><a href="">Education</a></li>
                    <li><a href="">Experiance</a></li>
                    <li><a href="">Interests</a></li>
                    <li><a href="">Contact Me</a></li>
                    
                </ul>
            </nav>
        </header>
    
        <div class="me">
            <img src="https://yt3.ggpht.com/yti/ANoDKi7Yx281pPKxJyf0EP3QVFrsoa1jyF1SHB5AWyl_=s88-c-k-c0x00ffffff-no-rj-mo" alt="Error loading image" id="image">
            <p id="m">Hey, I am Atharva Patil. I am a 2nd year student from Veermata Jijabai Technological Institute, Matunga, Mumbai. I am currently pursuing  Computer Engineering course from this esteemed college. It was one of my dreams to do engineering, but getting such a prestigious college was a huge surprise for me. The faculty here is just mesmorizing in their teaching behaviour, also the seniors are of no doubt helping and friendly !!<br>I find myself very lucky to be in this college.
            </p>
        </div>
            <div class="edu">
                <h2 class="head">Education</h2>
                <p class="f">I completed my primary education from St. Joseph's Convent primary School, Jalgaon.</p>
                <p class="s">I completed my Secondary education upto class 10th from St. Joseph's Convent Senior Secondary School, Jalgaon from CBSE board. I received 97.6% in my 10th board. It is one my luckiest days in my life</p>
                <p class="t">I completed my higher education upto class 12th from M.J. college , Jalgaon. I received 94.15% in my 12th board.</p>
                <p class="fo">I am currently completing my B.Tech course from V.J.T.I., Mumbai in Computer Engineering.</p>
            </div>
    
            <div class="exp">
                <h2 class="head">Experiance</h2>
                <p class="experience">1.) I have been a Vice Prefect during my econdary schooling. It was a post of emmense responsibility and pride. <br><br>2.) I have also been  Department Coordinator of E-Cell committee during my st year of Engineering.
                </p>
            </div>
            
            <div class="int">
                <h2 class="head">Interests</h2>
                <p class="f">I love travelling. Exploring different places is one of my habits.</p>
                <p class="s">In field of games, I love chess and badminton. In free time I prefer to play these games.</p>
                <p class="t">I am fond of exploring different techs which come latest in the market. I like to read about them a lot.</p>
                <p class="fo">I like to keep myself busy. Whether it's related to computer background or not. I also like trying various other extra-curricular activities.</p>
            </div>
    
            <div class="cont">
                <h2 class="head">Contact Me</h2>
                <p class="links">
                    <a href="https://www.linkedin.com/in/atharva-patil-9476771a5" id="linkedin" target="/blank">My linkedIn profile</a>
                    <img id= "lin" src="/linkedin.png" alt="Error loading image">
                    
                    <a href="https://www.facebook.com/atharva.patil.5070" id="linkedin" target="/blank">My facebook profile</a>
                </p>
            </div>
        
    </body>
    </html>