body{
    text-align: center;
    background-color: #444941;
    
}

.playerbox{

    display: inline-block;
    padding:3rem;

}

.box{
    width:70%;
    display: inline-block;
    padding: 0  rem 3rem 1rem 3rem;
}

.refresh-me{
    padding-bottom: 2rem;
    font-family: "Montserrat";
    font-weight: bolder;
    color: #7FC8A9;
    font-size: 7rem;
    text-shadow: 6px 0 #5F7A61;
    margin-bottom: 10px;
}

.player{
    font-family: "Montserrat";
    font-weight: 600;
    color: #D5EEBB;
    font-size: 2.3rem;
}

footer{
    font-family: "Dancing Script";
    color: #fff;
}