*
{
    padding: 0;
    margin: 0;
}
body{
    background-image:url('images/bg.jpg');
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form{
    color: #fff;
    width: 60%;
    margin: 30px auto;
    /* background-color: rgba(0,0,0,0.7); */
    background-color: #3e4653;;
    border-radius: 8px;

}

form h1{
    text-align: center;
    padding-top: 45px;
}

form .details{
    padding: 55px 55px 0 55px;
    font-size: 20px;
}

form .details input{
    width: 274px;
    height: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1.5px solid gray;
}

.details .align{
    margin-left: 50px;
}

.details .alignment{
    float: right;
    position: relative;
    right: 49px;
    bottom: 16px;
}

::placeholder{
    font-size: 1rem;
}

.radio{
    padding: 55px;
    font-size: 20px;
}

input[type="radio"]{
    width: 25px;
    height: 20px;
    column-rule: #001858;

}

table{
    border-collapse: collapse;
    empty-cells: hide;
    color: black;
}

tr label{
    width: 17vw; 
    display: inline-block;
}

table th,td{
    padding: 11px;
    font-size: 15px;
    width: 5vw;
    text-align: center;
    border: 1px solid #c3cad8;
}

table tr th{
    background-color: #e5eaf4;
}

.questions{
    padding: 55px;
    font-size: 20px;
}

span{
    font-size: 1rem;
}
.feedback{
    padding: 55px;
    font-size: 20px;
}

.feedback textarea{
    padding: 10px;
    font-size: 1rem;
}
.btn{
    padding: 35px 0 50px 0;
    width: 90%;
    display: flex;
    justify-content: center;
    margin: auto;
}

form button{
    padding: 15px;
    font-size: 18px;
    width: 10em;
    background: linear-gradient(0deg,#fc8d83 0,#e4685d);
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}