{% extends "layout.html" %}

{% block title %}
    Book	
{% endblock %}

{% block main %}
{% for row in book %}
<h1>{{ row.title }}</h1>
<p>Author - {{ row.author }}</p>
<p>ISBN - {{ row.isbn }}</p>
<p>Publication Year - {{ row.year }}</p>
{% endfor %}
{% for row in reviews %}
<h1>_______________________________________________</h1>
<h3>{{ row.rating }}</h3>
<p>{{ row.text }}</p>
{% endfor %}
<h1>_______________________________________________</h1>
<p> Number of Ratings = {{ ratings }}</p>
<p> Average Rating = {{ avgrating }}</p>
<h1>_______________________________________________</h1>
<h3>Submit a review</h3>
<form action= {{ route }} method="post">
	<label>Choose a Rating</label>
        <select name = "rating">
               <option value = "1">1</option>
               <option value = "2">2</option>
               <option value = "3">3</option>
               <option value = "4">4</option>
               <option value = "5">5</option>
        </select>
        <div class="form-group">
            <input class="form-control" name="text" placeholder="Review" type="text">
    </div>
        <button class="btn btn-primary" type="submit">Submit</button>
</form>
{% endblock %}