{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}    
    <form action="/search" method="post">
			<label>Choose a search type</label>
             <select name = "searchlist">
               <option value = "isbn">ISBN</option>
               <option value = "title">Title</option>
               <option value = "author">Author</option>
             </select>
        <div class="form-group">
            <input class="form-control" name="query" placeholder="" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
{% endblock %}