@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  font-family: "PT Sans", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 400px;
}

.square {
  background-color: #1d1d1d;
  height: 16px;
  width: 16px;
  box-shadow: 0 0 2px black;
  margin: 2px;
  transition: 2s ease;
}

.square:hover {
  transition-duration: 0s;
}
