* {
    box-sizing: border-box;
}

body {
    background-image: url("./snow.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: "Lucida Console", "Courier New", monospace;
    background-image: url("https://source.unsplash.com/user/erondu/1600x900/?landscape");
    margin: 0;
}

h1 {
    font-weight: normal;
    background-color: #f0f0f0d0;
    font-size: 4rem;
    margin-top: 13%;
    padding-left: 1%;
    padding-right: 1%;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f0f0f0d0;
    
}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.countdown {
    text-align: center;
}

.countdown span {
    font-size: 1.3rem;
}